{% extends 'layout.html' %}
{% block body %}
<p>The price of Bitcoin is: {{ btc }}
    <br>
    The price of Ethereum is: {{ eth }}
</p>
<br>
<div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.type.label }} {{form.type}}
            <br>
            {{ form.amount.label }} {{form.amount}}
            <br>
            {{ form.coinid.label }} {{form.coinid}}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock body %}